<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="content">
    <div style="display: flex; gap: 1rem">
      <div
        appMirTooltip="<strong>HTML контент</strong> с <em>форматированием</em>"
      >
        Без позиционирования (автоматическое)
      </div>

      <div
        appMirTooltip="<strong>HTML контент</strong> с <em>форматированием</em>"
        tooltipPosition="left"
      >
        Слева
      </div>

      <div
        appMirTooltip="<strong>HTML контент</strong> с <em>форматированием</em>"
        tooltipPosition="right"
      >
        Справа
      </div>

      <div
        appMirTooltip="<strong>HTML контент</strong> с <em>форматированием</em>"
        tooltipPosition="top"
      >
        Сверху
      </div>

      <div
        appMirTooltip="<strong>HTML контент</strong> с <em>форматированием</em>"
        tooltipPosition="bottom"
      >
        Снизу
      </div>

      <ng-template #customTemplate>
        <div class="custom-tooltip-content">
          <h3>Пользовательский контент</h3>
          <p>Можно использовать компоненты Angular:</p>
          <div>
            <img src="https://cataas.com/cat?width=250&height=250" alt="" />
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
            minima molestias corrupti soluta similique. Perspiciatis
            exercitationem assumenda, eaque asperiores voluptate dolore, unde
            magni nemo voluptatibus delectus totam enim laboriosam numquam!
          </p>
        </div>
      </ng-template>

      <div [appMirTooltip]="customTemplate">Кастомный тултип</div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
