.custom-tooltip {
  position: fixed;
  background-color: #333;
  border: 1px solid black;
  color: white;
  padding: 1rem;
  border-radius: 6px;
  font-size: 14px;
  max-width: 500px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transform: translateY(5px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.custom-tooltip.show {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.tooltip-content {
  position: relative;
  z-index: 2;
}

.tooltip-arrow {
  --size: 1.5rem;
  position: absolute;
  width: var(--size);
  height: var(--size);
  background: inherit;
  transform: rotate(45deg);
  z-index: 1;
}

.arrow-top {
  bottom: calc(-1 * var(--size) / 2);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.arrow-bottom {
  top: calc(-1 * var(--size) / 2);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.arrow-left {
  right: calc(-1 * var(--size) / 2);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.arrow-right {
  left: calc(-1 * var(--size) / 2);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
